{{ partial "header" . }}

{{ $author := index .Site.Data.authors .Params.author }}

<h1>{{ $author.name }}</h1>
{{- /* <img src="{{ $author.photo }}" alt=""/> */ -}}

<h2>Bio</h2>
{{ $author.bio }}
{{ with $author.twitter }}
  <p>
    <a href="https://twitter.com/{{ substr . 1 }}">
      Follow {{ $author.name }} on Twitter
    </a>
  </p>
{{ end }}

<h2>Articles</h2>
<ul>
{{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>

{{ partialCached "footer" . }}
